.about {
  background-image: url("https://i.pinimg.com/564x/07/ec/d1/07ecd1d870959e6eabeaff2e2c9f070d.jpg");
  height: 85vh;
  width: 100%;
  background-position: left;
  background-repeat: repeat;
  opacity: 0.8;
}
.About__content {
  background-image: url("https://i.pinimg.com/564x/07/ec/d1/07ecd1d870959e6eabeaff2e2c9f070d.jpg");
  padding-bottom: 1%;
}
.unlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: grey;
  list-style: none;
}
.li_list {
  margin-right: 7%;
  margin-top: 3%;
  margin-left: 1%;
}
.li_list button {
  padding: 9px 25px;
  background-color: #845d32;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 60px;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
}
.li_list button:hover {
  background-color: rgb(162, 170, 167);
}
#logo {
  font-size: 25px;
  color: hsl(37, 37%, 89%);
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px 3px rgb(205, 127, 50);
  margin-right: 8%;
  padding-right: 1%;
  text-decoration: none;
  font-weight: 700;
}
#cart {
  margin-right: 4%;
}
span {
  font-size: 20px;
  font-weight: 600;
  margin-top: auto;
  text-decoration: none;
  color: aliceblue;
}
.about {
  font-weight: 500;
  color: #e4d8c4;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}
.about h1 {
  margin-left: 40%;
}
.contact_us {
  margin-top: 5%;
  color: rgb(232, 214, 141);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  font-size: 20px;
  margin-left: 3%;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
  list-style: none;
}
li i {
  margin-left: 30%;
}
.contact_us a {
  color: rgb(224, 193, 135);
}
a:hover {
  color: #c5790e;
}
/* neclace component */
.necklace {
  background-color: #927a60;
  height: 300vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.necklaces {
  width: 28%;
  margin-left: 5%;
  margin-top: 2%;
}
.necklaces img {
  width: 28%;
  margin-left: 5%;
}
.about p {
  margin-left: 25%;
}
/* ring component */
.ring {
  background-color: #4b371d;
  height: 250vh;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
}
.rings {
  width: 27%;
  margin-left: 5%;
}
.rings img {
  width: 240px;
  margin-top: 5%;
}
/* watch component */
.watch {
  background-color: #654b30;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
.watches img {
  width: 270px;
  margin-top: 5%;
}

.watches {
  width: 28%;
  margin-left: 5%;
}
.py-4 {
  background-color: #73644e;
  font-size: 25px;
  color: whitesmoke;
}
